{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "arrow-parens": ["as-needed", { "requireForBlockBody": true }]
  }
}
